@import 'options';

header {
	height : auto;			
}

.logo {
	left: 45%;
}

nav.main-nav {
	position : relative;
	margin-left : 0;
	top : 40px;
	left : -10px;

	ul {
		display : block;
		width : 45%;
		background-color : #fafafa;
		li {
			float : none;
			padding: 8px 0;
			border-bottom : 1px solid #afafaf;
			border-top : 1px solid #afafaf;
			a {
				color : #333333;
				text-decoration: none;
			}
		}
	}
}

nav.main-nav + div {
	display : block;
	width: 40px;
	height: 35px;
	padding : 5px; 
	> a {
		position: absolute;
		top: 30px;
		width : 30px;
		height: 35px;
		line-height:30px;
		
	}
}

#nav_open_btn {
	z-index : 1;
	background: #fff url($menu-open-icon) left center no-repeat;
}

#nav_close_btn {
	z-index: -1;
	background: #fff url($menu-close-icon) left center no-repeat;
}

#nav:target + div > #nav_close_btn{
	display: block;
	z-index : 1;
}
#nav:target + div > #nav_open_btn{
	z-index : -1;

}
#nav:not(:target) {
	display : none;
}
