@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

$font:'Lato', sans-serif;
$logo-font: 'Playfair Display', serif;

$white: #fafafa;
$black: #333;
$green: #5e9e79;
