@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

$font:'Lato', sans-serif;
$logo-font: 'Playfair Display', serif;

$menu-open-icon: 'images/nav-open.svg';
$menu-close-icon: 'images/nav-close.svg';

$white: #fafafa;
$black: #333;
$green: #5e9e79;

@mixin hover-animation(){
	opacity:1;
	 -webkit-transition: 1s ease; -moz-transition: 1s ease; -o-transition: 1s ease; transition:1s ease;

}
