@import 'reset';
@import 'options';

body{
	font-family:$font;
	color:$black;
}

.top-bar{
	max-width:1000px;
	margin:auto;
}

.logo{
	font-family:$logo-font;
	font-size:50px;
	position:absolute;
	margin-left:25px;
	margin-top:15px;
}

.main-nav{
	width:400px;
	margin-left:auto;
	padding-right:25px;
	padding-top: 20px;
}

.menu-list{
	display: inline-block;
	margin-top:20px;

	> li{
		margin-left:20px;
		float: left;
		list-style: none;
	 }
		
 }

.menu-item {
	text-decoration:none;
	color: $black;
	font-size:18px;
	&:hover{
		color: $green;
		border-bottom:2px solid $green;
		opacity:10;
		transition: 1s;
	}
}
